@keyframes blink{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: yellow;
    }
}


/* @keyframes move01 {
    0%{
        transform: translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: translate(0, -50px);
        opacity: 0.5;
    }
    100%{
        transform: translate(0, -100px);
        opacity: 0;
    }
    
}

.burst .line:nth-child(2){
    animation: move02 15s linear infinite;
}
@keyframes move02 {
    0%{
        transform:  rotate(45deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(45deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(45deg) translate(0, -100px);
        opacity: 0;
    }
}
.burst .line:nth-child(3){
    animation: move03 15s linear infinite;
    }
@keyframes move03 {
    0%{
        transform:  rotate(90deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(90deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(90deg) translate(0, -100px);
        opacity: 0;
    }
    
}

.burst .line:nth-child(4){
    animation: move04 15s linear infinite;
    }
@keyframes move04 {
    0%{
        transform:  rotate(135deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(135deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(135deg) translate(0, -100px);
        opacity: 0;
    }
    
}

.burst .line:nth-child(5){
    animation: move05 15s linear infinite;
    }

@keyframes move05 {
    0%{
        transform:  rotate(180deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(180deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(180deg) translate(0, -100px);
        opacity: 0;
    }
    
}

.burst .line:nth-child(6){
    animation: move06 15s linear infinite;
    }

@keyframes move06 {
    0%{
        transform:  rotate(225deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(225deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(225deg) translate(0, -100px);
        opacity: 0;
    }
    
}

.burst .line:nth-child(7){
    animation: move07 15s linear infinite;
    }

@keyframes move07 {
    0%{
        transform:  rotate(270deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(270deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(270deg) translate(0, -100px);
        opacity: 0;
    }
    
}
.burst .line:nth-child(8){
    animation: move07 15s linear infinite;
    }

@keyframes move08 {
    0%{
        transform:  rotate(315deg) translate(0, 0);
        opacity: 0;
    }
    50%{
        transform: rotate(315deg) translate(0, -50px);
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translate(0, -100px);
        opacity: 0;
    }
    
}


*/
@keyframes monAnim{
    0%{
        transform: translateY(50vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
     
}

 