@keyframes blink{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color: yellow;
    }
}

@keyframes monAnim{
    0%{
        transform: translateY(50vh);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
     
}

 