    @media only screen and (max-width:1500px){
        p{
            color:white ;
            font-family: $font-stack;
            font-weight: 400;
            text-align: left;
            margin: 5px;
            padding-right: 5px;
        }
    }
     @media only screen and (max-width:1200px){
        .identite__nom {
            &.identite__nom--style{
                color:$text-color;
                font-size: 1rem;
                font-family:$font-stack;
                span{
                    color: yellow;
                }
            }
        }  
        .identite__messageAccueil{
            &.identite__messageAccueil--style{
              color:$text-color;
              display: none;
              font-family:$font-stack;
          }
      }
         .nav{
            padding-right: 2%;
              .nav__link{
                display: inline;
                margin: 20px;
                &.nav__link--active{
                   font-family: $font-stack;
                   a{
                       font-size: 16px;
                       color:$text-color;
                       text-decoration: none;
                   }
                   a:hover {
                        color: yellow;
                       }
                   }
               } 
           } 
     }
     @media (max-width:1024px){
        .apercuProjet{
             .identite{
                 width: 50%;
                 .identite__nom {
                     &.identite__nom--style{
                         color:$text-color;
                         font-size: 1rem;
                         font-family:$font-stack;
                         span{
                             color: yellow;
                         }
                     }
                 }
                 .identite__messageAccueil{
                    &.identite__messageAccueil--style{
                      color:$text-color;
                      display: none;
                      font-family:$font-stack;
                  }
              }   
           }
        }

.section2{
   transform: translateY(700px);
    .card{
        @include sectionProperties;
    
        h2 {
         @include titleProperties;  
        }
        .cardContenair{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50%; 
            .childreenCard{
              
                &.childreenCard--style{
                    display: flex;
                    flex-direction: column;
                >:nth-child(1){
                    @include delay_animation_child;
                    animation-duration: 800ms;
                    margin: 10px;
                    width: 100%;     
                } 
                >:nth-child(2){
                    @include delay_animation_child;
                    animation-duration: 800ms; 
                    margin: 10px;
                    width: 100%;    
                }  
                >:nth-child(3){
                    @include delay_animation_child;
                    animation-duration: 800ms;
                    width: 100%;
                    margin: 10px;
                    
                }  
                }           
                .cardProjet{
                    height: 365px;
                    width: 120px;
                    position: relative;
                    &.cardProjet--style{
                        background:$text-color;
                        border-radius: 5px ;   
                        img{
                            padding-top: 5px;
                            width: 18%;
                            height: 18%;
                            margin-left: 10px;  
                          }
                        .cardTitle{
                            color: $primary-color ;
                            font-family: $font-stack;
                            font-weight: 400;  
                            text-align: left;
                            margin: 10px;
                          }
                        p{
                            color:grey ;
                            font-family: $font-stack;
                            font-size: 25px;
                            font-weight: 400;
                            text-align: left;
                            margin: 10px;
                            padding-right: 5px;
                        }          
                    }
                }
                .lien{
                    a{
                      img{
                        width: 2%;
                        height: 2%;
                        }
                    }
                }
            }
        } 
    }
}

.hardSoftSkills{
    // transform: translateY(1500px);
    .card{ 
        h2 {
            @include titleProperties;  
           }         
        .cardSkill{
            height: 365px;
            width: 120px;
           &.cardSkill--style{
                background: #001529;
                border-radius: 5px; 
                .cardTitle{
                    color: yellow;
                    font-family: $font-stack;
                    font-size: 22px;
                    font-weight: 400;  
                    text-align: left;
                    margin: 10px;
                }
                p{
                    color:white ;
                    font-family: $font-stack;
                    font-weight: 400;
                    text-align: left;
                    margin: 25px;
                    padding-right: 5px;
                }
            }
        }
    }
}
}

@media only screen and (max-width:731px){
    .apercuProjet{
        @include sectionProperties;
         .identite{
             display: flex;
             flex-direction: column;
             align-items: center;
             width: 50%;
             .identite__nom {
                 &.identite__nom--style{
                     color:$text-color;
                     font-size: 1rem;
                     font-family:$font-stack;
                     span{
                         color: yellow;
                     }
                 }
             }  
               .identite__messageAccueil{
                   &.identite__messageAccueil--style{
                     color:$text-color;
                     font-size: 1rem;
                     font-family:$font-stack;
                     animation: blink 0.5s step-end infinite;
                     border-right: 0.15em solid yellow;
                 }
             }
                .monProfil{
                    margin-top: 35px;
                    button{
                        padding: 15px;
                        border-radius: 8px;
                        font-size: 20px;
                        background-color:transparent;
                        color: yellow;
                        &:hover{
                            border: none;
                            background-color:#000;
                            color: #fff;
                            border: 2px white solid;
                         }
                     }
                 }
             }
             .photoDeProfil{
                 width: 25%;
                 img{
                   width: 100%;
                 }
             }
         }
    .card{
        @include sectionProperties;
    
        h2 {
         @include titleProperties;  
        }
        .cardContenair{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 40%; 
            .childreenCard{
              
                &.childreenCard--style{
                    display: flex;
                    flex-direction: column;
                    
        
                    
                    // @include childreenCardProperties;
                >:nth-child(1){
                    @include delay_animation_child;
                    animation-duration: 800ms;
                    margin: 10px;
                    width: 100%;
                       
                } 
                >:nth-child(2){
                    @include delay_animation_child;
                    animation-duration: 800ms; 
                    margin: 10px;
                    width: 100%;
                      
                }  
                >:nth-child(3){
                    @include delay_animation_child;
                    animation-duration: 800ms;
                    width: 100%;
                    margin: 10px;
                    
                }  
                }           
                .cardProjet{
                    height: 250px;
                    width: 150px;
                    position: relative;
                    &.cardProjet--style{
                        background:$text-color;
                        border-radius: 5px ;   
                        img{
                            padding-top: 5px;
                            width: 18%;
                            height: 18%;
                            margin-left: 10px;  
                          }
                        .cardTitle{
                            color: $primary-color ;
                            font-family: $font-stack;
                            font-weight: 400;  
                            text-align: left;
                            margin: 10px;
                          }
                        p{
                            color:grey ;
                            font-family: $font-stack;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: left;
                            margin: 10px;
                            padding-right: 5px;
                        }          
                    }
                }
                .lien{
                    a{
                      img{
                        width: 2%;
                        height: 2%;
                        }
                    }
                }
            }
        } 
    }
.hardSoftSkills{
transform: translateY(2000px);
.card{ 
    h2 {
        @include titleProperties;  
       }         
    .cardSkill{
        height: 250px;
        width: 150px;
        position: relative;
       &.cardSkill--style{
            background: #001529;
            border-radius: 5px; 
            .cardTitle{
                color: yellow;
                font-family: $font-stack;
                font-size: 22px;
                font-weight: 400;  
                text-align: left;
                margin: 10px;
            }
            p{
                color:white ;
                font-family: $font-stack;
                font-weight: 400;
                text-align: left;
                margin: 30px;
                padding-right: 5px;
            }
        }
    }
}
}
.Profil{
transform: translateY(2500px);
width: 100%;
height: 100vh;
background-color: black;
h2{
    @include titleProperties;
    transform: translateY(80%); 
}
.contenair{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(20%); 
    .photoDeProfil{
        width: 25%;
        img{
            width: 100%;
        }
    }
.cardContenairProfil{    
&.cardContenairProfil--style{
    width: 30%;
    transform: translateY(80px);
.cardProfil{
    border-radius: 20px; 
    &.cardProfil--style{
        display: flex;
        text-align: justify;
        align-items: center;
        margin: 10px;
    p{
        color: white;
        font-family: $font-stack;
        font-size: 5px;
        font-weight: 300;
        margin: 15px;
        transform: translateY(-90px);
       }
    }
}
}
}
.mesDifferentsContacts{ 
width: 2%;
height: 2%;
transform: translateY(10px);
 }
}
}
}  
 @media only screen and (max-width:812px){
        .apercuProjet{
            @include sectionProperties;
             .identite{
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 width: 50%;
                 .identite__nom {
                     &.identite__nom--style{
                         color:$text-color;
                         font-size: 1rem;
                         font-family:$font-stack;
                         span{
                             color: yellow;
                         }
                     }
                 }  
                   .identite__messageAccueil{
                       &.identite__messageAccueil--style{
                         color:$text-color;
                         font-size: 1rem;
                         font-family:$font-stack;
                         animation: blink 0.5s step-end infinite;
                         border-right: 0.15em solid yellow;
                     }
                 }
                    .monProfil{
                        margin-top: 35px;
                        button{
                            padding: 15px;
                            border-radius: 8px;
                            font-size: 15px;
                            background-color:transparent;
                            color: yellow;
                            &:hover{
                                border: none;
                                background-color:#000;
                                color: #fff;
                                border: 2px white solid;
                             }
                         }
                     }
                 }
                 .photoDeProfil{
                     width: 25%;
                     img{
                       width: 100%;
                     }
                 }
             }
        .card{
            @include sectionProperties;
        
            h2 {
             @include titleProperties;  
            }
            .cardContenair{
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 40%; 
                .childreenCard{
                  
                    &.childreenCard--style{
                        display: flex;
                        flex-direction: column;
                        
            
                        
                        // @include childreenCardProperties;
                    >:nth-child(1){
                        @include delay_animation_child;
                        animation-duration: 800ms;
                        margin: 10px;
                        width: 100%;
                           
                    } 
                    >:nth-child(2){
                        @include delay_animation_child;
                        animation-duration: 800ms; 
                        margin: 10px;
                        width: 100%;
                          
                    }  
                    >:nth-child(3){
                        @include delay_animation_child;
                        animation-duration: 800ms;
                        width: 100%;
                        margin: 10px;
                        
                    }  
                    }           
                    .cardProjet{
                        height: 250px;
                        width: 150px;
                        position: relative;
                        &.cardProjet--style{
                            background:$text-color;
                            border-radius: 5px ;   
                            img{
                                padding-top: 5px;
                                width: 18%;
                                height: 18%;
                                margin-left: 10px;  
                              }
                            .cardTitle{
                                color: $primary-color ;
                                font-family: $font-stack;
                                font-weight: 400;  
                                text-align: left;
                                margin: 10px;
                              }
                            p{
                                color:grey ;
                                font-family: $font-stack;
                                font-size: 16px;
                                font-weight: 400;
                                text-align: left;
                                margin: 10px;
                                padding-right: 5px;
                            }          
                        }
                    }
                    .lien{
                        a{
                          img{
                            width: 2%;
                            height: 2%;
                            }
                        }
                    }
                }
            } 
        }
.hardSoftSkills{
    transform: translateY(2000px);
    .card{ 
        position: relative;
        h2 {
            @include titleProperties;  
           }         
        .cardSkill{
            height: 250px;
            width: 150px;
           &.cardSkill--style{
                background: #001529;
                border-radius: 5px; 
                .cardTitle{
                    color: yellow;
                    font-family: $font-stack;
                    font-size: 22px;
                    font-weight: 400;  
                    text-align: left;
                    margin: 10px;
                }
                p{
                    position: absolute;
                    color:white ;
                    font-family: $font-stack;
                    font-weight: 400;
                    text-align: left;
                    margin: 30px;
                    padding-right: 5px;
                }
            }
        }
    }
}
.Profil{
    transform: translateY(2500px);
    width: 100%;
    height: 100vh;
    background-color: black;
    h2{
        @include titleProperties;
        transform: translateY(80%); 
    }
    .contenair{
        display: flex;
        justify-content: space-evenly;
        transform: translateY(20%); 
        .photoDeProfil{
            width: 25%;
            img{
                width: 100%;
            }
        }
   .cardContenairProfil{    
    &.cardContenairProfil--style{
        width: 30%;
        transform: translateY(80px);
    .cardProfil{
        border-radius: 20px; 
        &.cardProfil--style{
            display: flex;
            text-align: justify;
            align-items: center;
            margin: 10px;
        p{
            color: white;
            font-family: $font-stack;
            font-size: 5px;
            font-weight: 300;
            margin: 15px;
            transform: translateY(-90px);
           }
        }
    }
}
}
.mesDifferentsContacts{ 
    width: 2%;
    height: 2%;
    transform: translateY(10px);
     }
   }
}
}

    @media only screen and (max-width:731px){
        .apercuProjet{
            @include sectionProperties;
             .identite{
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 width: 50%;
                 .identite__nom {
                     &.identite__nom--style{
                         color:$text-color;
                         font-size: 1rem;
                         font-family:$font-stack;
                         span{
                             color: yellow;
                         }
                     }
                 }  
                   .identite__messageAccueil{
                       &.identite__messageAccueil--style{
                         color:$text-color;
                         font-size: 1rem;
                         font-family:$font-stack;
                         animation: blink 0.5s step-end infinite;
                         border-right: 0.15em solid yellow;
                     }
                 }
                    .monProfil{
                        margin-top: 35px;
                        button{
                            padding: 15px;
                            border-radius: 8px;
                            font-size: 20px;
                            background-color:transparent;
                            color: yellow;
                            &:hover{
                                border: none;
                                background-color:#000;
                                color: #fff;
                                border: 2px white solid;
                             }
                         }
                     }
                 }
                 .photoDeProfil{
                     width: 25%;
                     img{
                       width: 100%;
                     }
                 }
             }
        .card{
            @include sectionProperties;
            position: relative;
        
            h2 {
             @include titleProperties;  
            }
            .cardContenair{
                display: flex;
                justify-content: center;
                // flex-direction: column;
                width: 40%; 
                position: absolute;
                .childreenCard{
                  
                    &.childreenCard--style{
                        display: flex;
                        // flex-direction: column;
                        
            
                        
                        // @include childreenCardProperties;
                    >:nth-child(1){
                        @include delay_animation_child;
                        animation-duration: 800ms;
                        margin: 10px;
                        width: 100%;
                           
                    } 
                    >:nth-child(2){
                        @include delay_animation_child;
                        animation-duration: 800ms; 
                        margin: 10px;
                        width: 100%;
                          
                    }  
                    >:nth-child(3){
                        @include delay_animation_child;
                        animation-duration: 800ms;
                        width: 100%;
                        margin: 10px;
                        
                    }  
                    }           
                    .cardProjet{
                        height: 250px;
                        width: 150px;
                        position: relative;
                        &.cardProjet--style{
                            background:$text-color;
                            border-radius: 5px ;   
                            img{
                                padding-top: 5px;
                                width: 18%;
                                height: 18%;
                                margin-left: 10px;  
                              }
                            .cardTitle{
                                color: $primary-color ;
                                font-family: $font-stack;
                                font-weight: 400;  
                                text-align: left;
                                margin: 10px;
                              }
                            p{
                                color:grey ;
                                font-family: $font-stack;
                                font-size: 16px;
                                font-weight: 400;
                                text-align: left;
                                margin: 10px;
                                padding-right: 5px;
                            }          
                        }
                    }
                    .lien{
                        a{
                          img{
                            width: 2%;
                            height: 2%;
                            }
                        }
                    }
                }
            } 
        }
.hardSoftSkills{
    transform: translateY(2000px);
    position: relative;
    .card{ 
        h2 {
            @include titleProperties;  
           }         
        .cardSkill{
            height: 250px;
            width: 150px;
            position: relative;
           &.cardSkill--style{
                background: #001529;
                border-radius: 5px; 
                .cardTitle{
                    color: yellow;
                    font-family: $font-stack;
                    font-size: 22px;
                    font-weight: 400;  
                    text-align: left;
                    margin: 10px;
                }
                p{
                    color:white ;
                    font-family: $font-stack;
                    font-weight: 400;
                    text-align: left;
                    margin: 30px;
                    padding-right: 5px;
                }
            }
        }
    }
}
.Profil{
    transform: translateY(2500px);
    width: 100%;
    height: 100vh;
    background-color: black;
    h2{
        @include titleProperties;
        transform: translateY(80%); 
    }
    .contenair{
        display: flex;
        justify-content: space-evenly;
        transform: translateY(20%); 
        .photoDeProfil{
            width: 25%;
            img{
                width: 100%;
            }
        }
   .cardContenairProfil{    
    &.cardContenairProfil--style{
        width: 30%;
        transform: translateY(80px);
    .cardProfil{
        border-radius: 20px; 
        &.cardProfil--style{
            display: flex;
            text-align: justify;
            align-items: center;
            margin: 10px;
        p{
            color: white;
            font-family: $font-stack;
            font-size: 5px;
            font-weight: 300;
            margin: 15px;
            transform: translateY(-90px);
           }
        }
    }
}
}
.mesDifferentsContacts{ 
    width: 2%;
    height: 2%;
    transform: translateY(10px);
     }
   }
}
}